<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head" />
<body>
<header th:insert="fragments/header.html :: header" />
<main class="container">
    <!-- CUSTOMIZZATE IL TEMPLATE DA QUI -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Lista partite</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-primary" type="button" id="addGameBtn">Aggiungi</button>
        </div>
    </div>

    <form class="input-group row gx-2  justify-content-end" method="GET">
        <div class="col-md-4">Le partite evidenziate sono quelle giocate da te</div>
        <div class="col-md-1"></div>
        <div class="form-group col-md-2">
            <input id="searchData" type="date" class="form-control" name="gameData" placeholder="Data">
        </div>
        <div class="form-group col-md-2">
            <input id="searchCode" type="text" class="form-control" name="gameCode" placeholder="Codice">
        </div>
        <div class="form-group col-md-2">
            <input id="searchEmail" type="text" class="form-control" name="searchEmail" placeholder="Email">
        </div>

        <div class="col-md-auto">
            <button type="submit" class="btn btn-light" ><i class="fas fa-search"></i> Cerca</button>
        </div>
    </form>
    <table class="table" style="margin-top: 30px;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Code</th>
            <th scope="col">Map</th>
            <th scope="col">Size</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${games.empty}">
            <td scope="row" colspan="5">Nessuna match disponibile</td>
        </tr>

        <tr  th:each="game : ${games}" th:attr="game-id=${game.id}">
            <th scope="row"><span th:text="${game.id}"/></th>
            <td><span th:text="${#dates.format(game.date, 'dd-MM-yyyy')}"/></td>
            <td><span th:text="${game.code}"/></td>
            <td><span th:text="${game.map.mapName}"/></td>
            <td><span th:text="${game.size}"/></td>
            <td style="width: 26px !important">
                <button type="button" class="btn btn-default" aria-label="Left Align"
                        th:onclick="'inspectGame(' + ${game.id} + ')'">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- END-->
</main>
<script>

    document.getElementById("addGameBtn").onclick = () => {
        window.location.href = "/games/add"
    }

    /*document.getElementById("searchBtn").onclick = () => {
        window.location.href = "sasuke" //"/games" + "?filterDate=" + document.getElementById("inputData").value + "&filterCode=" + document.getElementById("inputCode").value +""
        console.log( "/games" + "?filterDate=" + document.getElementById("inputData").value + "&filterCode=" + document.getElementById("inputCode").value +"")
    }*/

    function inspectGame(id) {
        window.location.href = "/games/" + id
    }

</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var playedRoles = /*[[${playerPlayedGames}]]*/ 'default';

    playedRoles.forEach(role => {
        document.querySelectorAll("[game-id='"+ role.game.id +"']").forEach(row => {
            if(row) {
                row.style.background = (role.kills !== undefined) ?
                    "linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(184,54,42,0.16) 75%, rgb(234, 67, 53, 0.8) 100%)" :
                    "linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(52,107,194,0.16) 75%, rgb(66,133,244, 0.8) 100%)";
            }
        })
    })

    function parse_query_string(query) {
        var vars = query.split("&");
        var query_string = {};
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            var key = decodeURIComponent(pair[0]);
            var value = decodeURIComponent(pair[1]);
            // If first entry with this name
            if (typeof query_string[key] === "undefined") {
                query_string[key] = decodeURIComponent(value);
                // If second entry with this name
            } else if (typeof query_string[key] === "string") {
                var arr = [query_string[key], decodeURIComponent(value)];
                query_string[key] = arr;
                // If third or later entry with this name
            } else {
                query_string[key].push(decodeURIComponent(value));
            }
        }
        return query_string;
    }

    (function (){
        let query = window.location.search.substring(1);
        let urlData = parse_query_string(query);

        document.getElementById("searchCode").value = urlData.gameCode ? urlData.gameCode : ""
        document.getElementById("searchEmail").value = urlData.searchEmail ? urlData.searchEmail : ""
        document.getElementById("searchData").value = urlData.gameData

    }())


    /*]]>*/
</script>
<div th:insert="fragments/scripts.html :: scripts" />
</body>
</html>