<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head" />
<body>
<header th:insert="fragments/header.html :: header" />
<main class="container">
    <!-- CUSTOMIZZATE IL TEMPLATE DA QUI -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Partita <span th:text="${game.code}"/> (<span th:text="${game.date}"/>)</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-primary" type="button" id="editGameBtn" style="display: none">Modifica</button>
        </div>
    </div>

    <div class="row gx-2 justify-content-end" >
        <div class="col-md-auto" th:if="${canAddRole}">
            <button type="submit" class="btn btn-light" id="addRoleBtn" >
                Aggiungi ruolo alla partita
            </button>
        </div>
    </div>

    <table class="table" style="margin-top: 30px;">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Vivo</th>
            <th scope="col"></th>
            <th scope="col" style="width: 20px"></th>
            <th scope="col" style="width: 20px"></th>
        </tr>
        </thead>
        <tbody>

        <tr  th:each="role : ${roles}" th:attr="role-id=${role.id}">
            <th scope="row"><span th:text="${role.roleName}"/></th>
            <td><span th:text="${role.class.simpleName}"/></td>
            <td><span th:text="${role.alive} ? 'si' : 'no'"/></td>
            <td style="width: 26px !important">
                <button type="button" class="btn btn-success" aria-label="Left Align"
                        th:onclick="'inspectRole(' + ${role.id} + ')'">
                    Dettagli
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" aria-label="Left Align" style="display: none"
                        th:onclick="'editRole(' + ${role.id} + ')'">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" aria-label="Left Align" style="display: none"
                        th:onclick="'removeRole(' + ${role.id} + ')'">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- END-->
</main>

<script th:inline="javascript">
    /*<![CDATA[*/

    var gameId = /*[[${gameId}]]*/ 'default';
    var playedRoles = /*[[${playerRoles}]]*/ 'default';
    var playerAdmin = /*[[${playerAdmin}]]*/ 'default';

    playedRoles.forEach(role => {
        document.querySelectorAll("[role-id='"+ role.id +"']").forEach(row => {

            let roleType = row.childNodes[3].childNodes[0].innerHTML.toLocaleLowerCase()

            row.childNodes[9].childNodes[1].style.display = "inherit" //Btn edit
            row.childNodes[9].childNodes[1].onclick = () => {
                window.location.href = "/games/" + gameId + "/role/" + roleType + "/" + role.id + "/edit";
            }

            row.childNodes[11].childNodes[1].style.display = "inherit" //Btn delete
            row.childNodes[11].childNodes[1].onclick = () => {
                window.location.href = "/games/" + gameId + "/role/" + roleType + "/" + role.id + "/delete";
            }
        })
    })

    if(playerAdmin){
        document.getElementById("editGameBtn").style.display = "inherit" //Btn edit game
        document.getElementById("editGameBtn").onclick = () => {
            window.location.href += "/edit"
        }

        document.querySelectorAll("[role-id]").forEach(row => {

            let roleType = row.childNodes[3].childNodes[0].innerHTML.toLocaleLowerCase()

            row.childNodes[9].childNodes[1].style.display = "inherit" //Btn edit
            row.childNodes[9].childNodes[1].onclick = () => {
                window.location.href = "/games/" + gameId + "/role/" + roleType + "/" + row.attributes["role-id"].value + "/edit";
            }

            row.childNodes[11].childNodes[1].style.display = "inherit" //Btn delete
            row.childNodes[11].childNodes[1].onclick = () => {
                window.location.href = "/games/" + gameId + "/role/" + roleType + "/" + row.attributes["role-id"].value + "/delete";
            }
        })
    }

    /*]]>*/
</script>
<script>

    document.getElementById("addRoleBtn").onclick = () => {
        window.location.href += "/role"
    }

    function inspectRole(id) {
        window.location.href += "/role/" + id
    }

</script>
<div th:insert="fragments/scripts.html :: scripts" />
</body>
</html>