<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head" />
<body>
<header th:insert="fragments/header.html :: header" />
<main class="container">
    <!-- CUSTOMIZZATE IL TEMPLATE DA QUI -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div th:if="${game.id} == 0">
            <h1 class="h2">Aggiungi partita</h1>
        </div>
        <div th:unless="${game.id} == 0">
            <h1 class="h2">Modifica partita</h1>
        </div>
    </div>

    <div class="row justify-content-center" >
        <div class="col-4">
            <form action="#" th:action="@{/games/add}" th:object="${game}" method="post">

                <div class="mb-3" th:unless="${game.id} == 0">
                    <label for="gameId" class="form-label">ID</label>
                    <input readonly type="text" class="form-control" id="gameId" aria-describedby="gameId" th:field="*{id}">
                </div>

                <div class="mb-3">
                    <label for="gameDate" class="form-label">Data partita</label>
                    <input type="date" class="form-control" id="gameDate" aria-describedby="gameDate" th:field="*{date}" required>
                </div>

                <div class="mb-3">
                    <label for="gameCode" class="form-label">Codice partita</label>
                    <input type="text" class="form-control" id="gameCode" aria-describedby="gameCode" th:field="*{code}" required>
                </div>

                <div class="mb-3">
                    <label for="gameMap" class="form-label">Mappa:</label>
                    <select class="form-select" id="gameMap" th:field="*{map}">
                        <div th:each="map : ${maps}">
                            <option th:value="${map.id}" th:text="${map.mapName}"></option>
                        </div>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="gameSize" class="form-label">Giocatori della partita: <span id="range" th:text="*{size}"></span></label>
                    <input type="range" class="form-range" min="0" max=10 step="1" id="gameSize" th:value="*{size}" th:field="*{size}" required>
                </div>


                <div th:if="${game.id} == 0">
                    <hr class="dropdown-divider">

                    <div class="mb-3" th:object="${option}">
                        <label for="optPlayerName" class="form-label">Nome giocatore</label>
                        <input type="text" class="form-control" id="optPlayerName" th:field="*{roleName}" required>
                    </div>

                    <div class="form-check" th:object="${option}">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" th:field="*{impostor}">
                        <label class="form-check-label" for="flexCheckDefault">
                            Ho giocato da impostore
                        </label>
                    </div>
                </div>

                <div class="mb-3" th:if="${game.id} == 0">
                    <button type="submit" class="btn btn-primary" value="Submit"style="float: right">Aggiungi</button>
                </div>
                <div class="mb-3" th:unless="${game.id} == 0" style="text-align: center">
                    <button type="submit" class="btn btn-primary" value="Submit" style="width: 100%">Conferma</button>
                </div>

            </form>
        </div>
    </div>

    <script>
        document.getElementById("range").innerHTML = document.getElementById("gameSize").value;

        document.getElementById("gameSize").onchange = (e) => {
            document.getElementById("range").innerHTML = e.target.value;
        };



    </script>

    <!-- END-->
</main>
<div th:insert="fragments/scripts.html :: scripts" />
</body>
</html>