<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"/>
<body>
<header th:insert="fragments/header.html :: header"/>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/maps">
                            <i class="fas fa-map"></i>
                            Mappe
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tasks">
                            <i class="fas fa-tasks"></i>
                            Tasks
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Lista tasks</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button class="btn btn-primary" type="button" id="addTaskBtn">Aggiungi</button>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Visual</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tasks.empty}">
                    <td scope="row" colspan="5">Nessun task disponibile</td>
                </tr>
                <tr th:each="task : ${tasks}">
                    <th scope="row"><span th:text="${task.id}"/></th>
                    <td><span th:text="${task.name}"/></td>
                    <td><span th:text="${task.visual}"/></td>
                    <td style="width: 26px !important">
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                                th:onclick="'editMapBtnClick(' + ${task.id} + ')'">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td style="width: 26px !important">
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                                th:onclick="'deleteMapBtnClick(' + ${task.id} + ')'">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
<script>

    document.getElementById("addTaskBtn").onclick = () => {
        window.location.href = "/admin/tasks/add"
    }

    function editMapBtnClick(id) {
        window.location.href = "/admin/tasks/update/" + id
    }

    function deleteMapBtnClick(id) {
        window.location.href = "/admin/tasks/delete/" + id
    }

</script>
<div th:insert="fragments/scripts.html :: scripts"/>
</body>
</html>