<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"/>
<body>
<header th:insert="fragments/header.html :: header"/>

<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
			<div class="position-sticky pt-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/admin/maps">
							<i class="fas fa-map"></i>
							Mappe
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/tasks">
							<i class="fas fa-tasks"></i>
							Tasks
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<div th:if="${map.id} == 0">
					<h1 class="h2">Aggiungi mappa</h1>
				</div>
				<div th:unless="${map.id} == 0">
					<h1 class="h2">Modifica mappa</h1>
				</div>
			</div>

			<div class="row justify-content-center" >
				<div class="col-4">
					<form action="#" th:action="@{/admin/maps/add}" th:object="${map}" method="post">
						<div class="mb-3" th:unless="${map.id} == 0">
							<label for="mapId" class="form-label">ID</label>
							<input readonly type="text" class="form-control" id="mapId" aria-describedby="mapId" th:field="*{id}">
						</div>

						<div class="mb-3">
							<label for="mapName" class="form-label">Nome mappa</label>
							<input type="text" class="form-control" id="mapName" aria-describedby="mapName" th:field="*{mapName}">
						</div>
						<div class="mb-3">
							<label for="mapSize" class="form-label">Numero consigliato di partecipanti: <span id="range" th:text="*{maxSize}"></span></label>
							<input type="range" class="form-range" min="0" max=10 step="1" id="mapSize" th:value="*{maxSize}" th:field="*{maxSize}">
						</div>
						<button type="submit" class="btn btn-primary" value="Submit"style="float: right">Aggiungi</button>
					</form>
				</div>
			</div>
		</main>
	</div>

	<script>
		document.getElementById("range").innerHTML = document.getElementById("mapSize").value;

		document.getElementById("mapSize").onchange = (e) => {
			document.getElementById("range").innerHTML = e.target.value;
		};
	</script>

	<div th:insert="fragments/scripts.html :: scripts" />

</body>
</html>