<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"/>
<body>
	<header th:insert="fragments/header.html :: header"/>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/admin/maps">
								<i class="fas fa-map"></i>
								Mappe
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/tasks">
								<i class="fas fa-tasks"></i>
								Tasks
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Lista mappe</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<button class="btn btn-primary" type="button" id="addMapBtn">Aggiungi</button>
					</div>
				</div>

				<table class="table">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Size</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${maps.empty}">
						<td scope="row" colspan="5">Nessuna mappa disponibile</td>
					</tr>
					<tr th:each="map : ${maps}">
						<th scope="row"><span th:text="${map.id}"/></th>
						<td><span th:text="${map.mapName}"/></td>
						<td><span th:text="${map.maxSize}"/></td>
						<td style="width: 26px !important">
							<button type="button" class="btn btn-default" aria-label="Left Align"
									th:onclick="'editMapBtnClick(' + ${map.id} + ')'">
								<i class="fas fa-edit"></i>
							</button>
						</td>
						<td style="width: 26px !important">
							<button type="button" class="btn btn-default" aria-label="Left Align"
									th:onclick="'deleteMapBtnClick(' + ${map.id} + ')'">
								<i class="fas fa-trash"></i>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</main>
		</div>
	</div>
	<script>

		document.getElementById("addMapBtn").onclick = () => {
			window.location.href = "/admin/maps/add"
		}

		function editMapBtnClick(id) {
			window.location.href = "/admin/maps/update/" + id
		}

		function deleteMapBtnClick(id) {
			window.location.href = "/admin/maps/delete/" + id
		}

	</script>
	<div th:insert="fragments/scripts.html :: scripts"/>
</body>
</html>