<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head" />
<body>
<header th:insert="fragments/header.html :: header" />
<main class="container">
    <!-- CUSTOMIZZATE IL TEMPLATE DA QUI -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1 class="h2">Che ruolo vuoi aggiungere?</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div id="btnAddImpostor" class="col-4">
            <div class="card" style="text-align: center;display: inline-block; cursor: pointer;">
                <img class="card-img-top" alt="Card image cap" src="https://i.pinimg.com/originals/24/6e/0e/246e0e734559830cd359c9c45d7157ac.jpg" style="width: 55%;">
                <div class="card-body">
                    <h5 class="card-title">Impostore</h5>
                    <p class="card-text">Con lo scopo di ventare senza farsi scoprire</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Impostori presenti in paritita: <span th:text="${impostorNumber}"></span></small>
                </div>
            </div>
        </div>

        <div class="col-4" id="btnAddCrewmate">
            <div class="card" style="text-align: center; cursor: pointer;">
                <img class="card-img-top" alt="Card image cap" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/4da35b00-9686-4c96-826d-6ee7550a5539/de5o9qp-4dae339c-a537-4cc4-bc40-3dc87c03bd31.png/v1/fill/w_1282,h_623,strp/walfas_custom_prop_crewmate_among_us_by_cgtvyt29_by_cgtvyt29_de5o9qp-pre.png" style="margin: 13px 0;">
                <div class="card-body">
                    <h5 class="card-title">Crewmate</h5>
                    <p class="card-text">Insieme uniti contro gli impostori!</p></div>
                <div class="card-footer">
                    <small class="text-muted">Crewmate presenti in partita: <span th:text="${crewmateNumber}"></span></small>
                </div>
            </div>
        </div>
    </div>

    <!-- END-->
</main>
<script>

    document.getElementById("btnAddImpostor").onclick = () => {
        window.location.href += "/impostor/add"
    }

    document.getElementById("btnAddCrewmate").onclick = () => {
        window.location.href += "/crewmate/add"
    }

</script>


<div th:insert="fragments/scripts.html :: scripts" />
</body>
</html>