<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head" />
<body>
<header th:insert="fragments/header.html :: header" />
<main class="container">
    <!-- CUSTOMIZZATE IL TEMPLATE DA QUI -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Giocatore: <span th:text="${role.getRoleName()}" th:style="${impostor} ? 'color: red' : ''"/> </h1>
        <div style="font-size: 25px; float: right">
            Stato a fine partita: <span  th:text="${role.isAlive() ? 'vivo' : 'morto'}"/>
        </div>


    </div>

    <div class="row justify-content-center" th:if="${impostor}">
        <div class="col-4">
            <div class="card" style="text-align: center;display: inline-block; cursor: pointer;">
                <img class="card-img-top" alt="Card image cap" src="https://workspace.occhipinti.dev/uploaded/081nznr69en51.png" style="width: 55%;">
                <div class="card-body">
                    <h5 class="card-title">Numero di kill</h5>
                    <span th:text="${role.kills}" style="font-size: 30px"/>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="text-align: center; cursor: pointer;">
                <img class="card-img-top" alt="Card image cap" src="https://wonder-day.com/wp-content/uploads/2020/10/wonder-day-among-us-26.png" style="width: 236px; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title">Numero di sabotaggi</h5>
                    <span th:text="${role.sabotages}" style="font-size: 30px"/>
                </div>
            </div>
        </div>
    </div>



    <table class="table" style="margin-top: 30px;">
        <thead>
        <tr>

            <th scope="col">Persone votate</th>
            <th scope="col"># voti</th>
            <th scope="col" style="width: 50px"></th>

        </tr>
        </thead>
        <tbody>

        <tr th:if="${votes.empty}">
            <td scope="row" colspan="5">Nessun voto disponibile</td>
        </tr>

        <tr th:each="voto : ${votes}" >
            <th scope="row"><span th:text="${voto.getVoteTo().getRoleName()}"/></th>
            <td scope="row"><span th:text="${voto.getCount()}"/></td>
            <td scope="row">
                <button type="button" class="btn btn-danger" aria-label="Left Align"
                        th:onclick="'removeVote(' + ${voto.getId()} + ')'" th:if="${modifiable}">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>

        <form th:if="${modifiable}" th:object="${newVote}" onsubmit="voteFormSubmit(this);" method="post">
            <tr>
                <td scope="row">
                    <select class="form-select" id="roleMap" th:field="*{voteTo}">
                        <div th:each="role : ${roles}">
                            <option th:value="${role.id}" th:text="${role.getRoleName()}"></option>
                        </div>
                    </select>
                </td>
                <td scope="row">
                    <input type="number" class="form-control" aria-describedby="gameDate" th:field="*{count}">
                </td>
                <td scope="row">
                    <button type="submit" class="btn btn-primary">Aggiungi</button>
                </td>
            </tr>
        </form>

        </tbody>
    </table>


    <div th:if="${!impostor}" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1  class="h3">Task</h1>
    </div>
    <table th:if="${!impostor}" class="table" style="margin-top: 30px;">
        <thead>
        <tr>
            <th scope="col">Nome task</th>
            <th scope="col">Tempo di completamento</th>
            <th scope="col">Visuale</th>
            <th scope="col" style="width: 50px"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${tasks.empty}">
            <td scope="row" colspan="5">Nessun task disponibile</td>
        </tr>

        <tr th:each="task : ${tasks}" >
            <th scope="row"><span th:text="${task.getTask().getName() }"/></th>
            <td scope="row">
                <span th:text="(*{task.completionTime} != null) ? ${task.getCompletionTime() } : 'Non completato'"/>
            </td>
            <td scope="row"><span th:text="${task.getTask().visual}"/></td>
            <td scope="row">
                <button type="button" class="btn btn-danger" aria-label="Left Align"
                        th:onclick="'removeTask(' + ${task.getId()} + ')'" th:if="${modifiable}">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>

            <form th:if="${modifiable}" th:object="${crewmateTask}" onsubmit="get_action(this);" method="post">
                <tr>
                    <td scope="row">
                        <select class="form-select" id="gameMap" th:field="*{task}">
                            <div th:each="task : ${avaiableTasks}">
                                <option
                                        th:value="${task.id}"
                                        th:text="${task.name}"></option>
                            </div>
                        </select>
                    </td>
                    <td scope="row">
                        <input type="time" class="form-control" id="gameDate" aria-describedby="gameDate" th:field="*{completionTime}">
                    </td>
                    <td scope="row"></td>
                    <td scope="row">
                        <button type="submit" class="btn btn-primary">Aggiungi</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>

    <!-- END-->
</main>
<script th:inline="javascript">
    /*<![CDATA[*/

    function get_action(form) {
        form.action = window.location.href + "/addTask"
    }

    function voteFormSubmit(form) {
        form.action =  window.location.href + "/addVote"
    }

    function removeTask(taskId){
        window.location.href =  window.location.href + "/removeTask/" + taskId
    }

    function removeVote(voteId){
        window.location.href =  window.location.href + "/removeVote/" + voteId
    }

    /*]]>*/
</script>
<div th:insert="fragments/scripts.html :: scripts" />
</body>
</html>